.body {
  body {
    margin: 0;
    font-family: Arial;
    text-align: center;
  }
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

.div-list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  border: solid 1px black;
  padding: 10px;
  margin: 10px auto;
}

@media (max-width: 600px) {
  .div-list {
    width: 90%; /* full width on mobile */
    flex-direction: row;
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}
